<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{subProject}}/assets/stylevote.css">

    <title>Document</title>
</head>

<body>


    <div class="container-fluid">
        <div class="container padding-container justify-content-center">
            <div class="row app active d-block h-100">
                <div class=" col-12 h-100">
                    <div class="row justify-content-end h-60px">
                        <div class="col-2 pt-2 mt-5">
                            <div class="app__logout ">
                                <a href="{{subProject}}/logout">
                                    <svg class="app__logout-icon svg-icon" viewBox="0 0 20 20">
                                        <path d="M6,3 a8,8 0 1,0 8,0 M10,0 10,12" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="app__hello p-4">Bonne Journée!</p>
                    <div class="app__user">
                        <img src="{{subProject}}/media/user.svg" alt="" class="app__user-photo" />

                    </div>
                </div>
            </div>
            <div class="row pb-5 pt-5 mb-lg-0  bg-white vote app__meetings text-center">
                <div class="col-12  py-5 ">

                    <h1>
                        Merci
                    </h1>
                    <p class="h2 ml2"> Votre vote a bien été pris en compte.</p>
                </div>
            </div>
        </div>
    </div>
    







    
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <!-- <script src="script.js"></script> -->


        <script>

            // Wrap every letter in a span
            var textWrapper = document.querySelector('.ml2');
            textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

            anime.timeline({ loop: true })
                .add({
                    targets: '.ml2 .letter',
                    scale: [4, 1],
                    opacity: [0, 1],
                    translateZ: 0,
                    easing: "easeOutExpo",
                    duration: 950,
                    delay: (el, i) => 70 * i
                }).add({
                    targets: '.ml2',
                    opacity: 0,
                    duration: 1000,
                    easing: "easeOutExpo",
                    delay: 1000
                });
        </script>



</body>

</html>